td {
  border: 1px solid;
  cursor: pointer;
  /*border-bottom: 1px solid;*/
}

tr {
  border: 1px solid;
}

tbody tr th {
  border: 1px solid;
}

td:hover {
  transition: .35s ease-in-out;
  background: lightgray;
}

@media (max-width: 991.98px) {
  .small-screen {
    margin: auto !important;
  }
}

.form-control{
  border: 3px solid grey;
  transition: all 2s ease;

  /*transition: border-color 2s ease-in-out;*/
}

.form-control:focus {
  box-shadow: none;
  border: 3px solid #83b63b;
  border-radius: 100px 100px 100px 100px;

  /*border-image-source: linear-gradient(45deg, #83b63b, rgb(250,224,66));*/
  /*border-image-slice: 3;*/
  /*transition: border-radius 5s;*/
  /*transition: all 4s;*/
  /*transition-delay: 3s;*/
  /*animation-delay: 1s;*/
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.fa-search:focus::after{
  color: red;
}
