<app-add-member-popup *ngIf="addMemberToggle"
                      (closingToggle)="onCloseReq()" [receivedSelectedOrg]="currentSelectedOrg"
                      (userAdded)="onAddedRequest($event)"></app-add-member-popup> <!-- Open the "Add member" pop-up when the "Add member" button is clicked -->
<app-create-member-popup *ngIf="createMemberToggle" [receivedSelectedOrg]="currentSelectedOrg"
                         (closingToggle)="onCloseReqCreate()"></app-create-member-popup> <!-- Open the "Add member" pop-up when the "Add member" button is clicked -->
<app-view-dataset-popup *ngIf="viewDatasetToggle"></app-view-dataset-popup>
<!--
<div *ngIf="!userIsAdminOfOrgs; else isAdminOfOrg">
  <div class="container bg-light shadow" style="margin-top: 5%; font-family: Bahnschrift, serif; border-radius: 15px 50px;">
    <div class="pt-3 pb-3 my-auto mx-auto text-center">
      <h3 class="">
      You are not an administrator of any organisation
      </h3>
      <button class="btn btn-danger text-white mt-2" style="font-size: 140%"
              routerLink="/homepage"
      >Back to homepage
      </button>
    </div>
  </div>
</div>
-->

<!--<ng-template #isAdminOfOrg>-->
<div class="container bg-light shadow"
     style="margin-top: 5%; font-family: Bahnschrift, serif; border-radius: 15px 50px;"
     *ngIf="!this.userOrganisations.length">
  <div class="pt-3 pb-3 my-auto mx-auto text-center">
    <h3 class="">
      You are not part of any organisation
    </h3>
    <button class="btn btn-danger text-white mt-2" style="font-size: 140%"
            routerLink="/homepage"
    >Back to homepage
    </button>
  </div>
</div>

<div class="container" *ngIf="this.userOrganisations.length">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card" id="Org-details">
        <div class="card-header">
          <h3> Select an organisation to manage </h3>

          <!-- Select box for the admin to select an organisation -->
          <select name="organisationSelectBox" id="selectOrg" class="custom-select" style="cursor: pointer"
                  (change)="orgSelectionChanged()"
                  [(ngModel)]="this.currentSelectedOrg">
            <option *ngFor="let organisation of this.userOrganisations" [ngValue]="organisation"
            >{{organisation.name}}</option>
          </select>
          <br>
          <br>
          <span class="d-inline"><p *ngIf="this.userOrganisations != null">
            <strong>Selected organisation:</strong> {{this.currentSelectedOrg?.name}}<br>
            <strong>Amount of members:</strong> {{ members.length }}</p></span>


          <label for="searchFilter">Search user by email</label>
          <input id="searchFilter" type="text" class="form-control" [(ngModel)]="searchFilter"
                 (ngModelChange)="checkIfListEmpty()">

        </div>

        <ul class="userList list-group list-group-flush">
          <li class="list-group-item p-2 pl-3" *ngIf="emptyList">
				<span class="row mx-1 align-middle">
					<p class="my-auto">No users found</p>
				</span>
          </li>
          <!-- Show a message if the organisation doesn't have any members -->
          <li class="list-group-item p-1" *ngIf="members.length == 0">
            <span class="row mx-1 align-middle">
              This organisation doesn't have any members
            </span>
          </li>

          <li class="list-group-item p-1" *ngFor="let member of members | userFilter:searchFilter">
            <span class="row mx-1 align-middle">
              <!-- show this block if the user does have uploaded datasets -->
                    <p class="col-lg-8">{{member.email}}</p>
					          <span class="btn-group col-lg-4 h-75" *ngIf="userIsAdminOfOrgs">
						          <button class="btn btn-danger fa fa-trash mr-1" aria-hidden="true"
                              (click)="onDelete(member)"></button>
					          </span>
				</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2>Shared datasets</h2>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let dataset of organisationDatasets; index as i">
              <span class="row">
              <p class="col-lg-8">{{dataset.name}}</p>
              <span class="btn-group col-lg-4">
              <a [href]="downloadUrl" [download]="downloadUrl" target="_blank" class="btn btn-warning fa fa-download"
                 title="Download dataset file" (click)="onDownload(i)"></a>
              <button class="btn btn-info fa fa-eye" data-toggle="modal" data-target="#viewDatasetModal"
                      title="View dataset" (click)="onViewDataset(dataset.id)"></button>
                </span>
                </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 mt-5" *ngIf="userIsAdminOfOrgs">
    <button type="button" id="addMemberButton" class="btn btn-primary" data-toggle="modal"
            data-target="#addMemberModal" (click)="onAddNewMember()">Add existing member
    </button>
    <button type="button" id="createMemberButton" class="btn btn-primary" data-toggle="modal"
            data-target="#createMemberModal" (click)="onCreateNewMember()">Create a new member
    </button>
  </div>
</div>

<!--</ng-template>-->
