<div class="alert alert-success" role="alert">
  Project Enterprise Web Application: Urban Analytics
</div>

<nav class="navbar navbar-light bg-light">
<a class="navbar-brand" href="#">
    <img src="assets/images/UA_logo.png" alt="Urban Analytics">
</a>
  <form class="form-inline justify-content-end">
    <button class="btn btn-outline-success btn-lg" type="button">Upload</button>
    <button class="btn btn-outline-success btn-lg" type="button">Profile</button>
    <button class="btn btn-outline-success btn-lg" type="button">Login</button>
  </form>
</nav>

