<div class="modal fade" data-backdrop="static" data-keyboard="false" id="viewMemberModal" tabindex="-1" role="dialog"
     aria-labelledby="viewMemberModal" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content modal-md">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Member information</h5>
        <button type="button" class="close" (click)="onClose()" data-dismiss="modal" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <h6> <b>Email:</b> {{ selectedUser.email }}</h6>
        <br>

        <div *ngIf="selectedUser.firstName; else hasNoFirstNameSet">
          <h6> <b>First name:</b> {{ selectedUser.firstName }}</h6>
        </div>
        <ng-template #hasNoFirstNameSet>
          <h6> <b>First name:</b> This user hasn't set his first name yet</h6>
        </ng-template>

        <br>
        <div *ngIf="selectedUser.surName; else hasNoSurNameSet">
          <h6> <b>Surname:</b> {{selectedUser.surName}} </h6>
        </div>
        <br>
        <ng-template #hasNoSurNameSet>
          <h6> <b>Surname:</b> This user hasn't set his surname yet</h6>
        </ng-template>

<!--        <h6 *ngIf="selectedUser.firstName"> <b>First name:</b> {{ selectedUser.firstName }}</h6>-->
<!--        <br>-->

<!--        <h6 *ngIf="selectedUser.surName"> <b>Surname:</b> {{ selectedUser.surName }}</h6>-->
<!--        <br>-->

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onDelete()" data-dismiss="modal">Delete member</button>
        <button type="button" class="btn btn-secondary" (click)="onClose()" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

