<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card text-white bg-info">
        <div class="card-header">
          Profile of: {{this.user.email}}
        </div>
        <div class="card-body">
<!--          <h5 class="card-title">{{this.user.email}}</h5>-->

          <form #myProfile="ngForm" >
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="firstName">Firstname</label>
                <input type="text" id="firstName" name="firstname" class="form-control" [(ngModel)]="userCopy.firstName"
                       (ngModelChange)="updateButtonToggle = false" placeholder="Enter your firstname">
              </div>
              <div class="form-group col-md-6">
                <label for="surName">Surname</label>
                <input type="text" id="surName" name="surname" class="form-control" [(ngModel)]="userCopy.surName"
                       (ngModelChange)="updateButtonToggle = false" placeholder="Enter your surname">
              </div>

            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" class="form-control" [(ngModel)]="userCopy.email"
                     placeholder="Enter your email" readonly>
            </div>
            <div class="form-group">
              <label for="organisation">Member of organisation</label>
              <input type="organisation" id="organisation" name="organisation" class="form-control"
                     [(ngModel)]="userCopy.organisation"
                      readonly>
            </div>
          </form>

          <button type="button" class="btn btn-primary" [disabled]="this.updateButtonToggle"
                  (click)="onUpdateUser()">Update</button>

          <!--            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"-->
          <!--                    (click)="onEditButtonClick()" style="float:right;">-->
          <!--              Edit Profile-->
          <!--            </button>-->

          <!--            <app-edit-profile *ngIf="editProfileIsClicked"></app-edit-profile>-->

        </div>
      </div>
    </div>
  </div>
</div>
