<div class="navbar navbar-expand-lg navbar-dark bg-dark mb-3" style="height: 56px;">
  <p class="navbar-brand mt-3">Navbar placeholder</p>
</div>
<br>
<br>

<div class="row">
  <div class="column1">
    <p> </p>
  </div>

  <div class="column2">
    <h2>John Bakker</h2>
    <br>

    <table>
      <tr>
        <th>Firstname:</th>
        <td>John </td>
      </tr>
      <tr>
        <th>Lastname:</th>
        <td>bakker</td>
      </tr>
    </table>

    <br>

    <table>
      <tr>
        <th>E-mail:</th>
        <td>john.bakker@gmail.com</td>
      </tr>
      <tr>
        <th>Organisation:</th>
        <td>Gemeente Zaandam</td>
      </tr>
    </table>

    <br>

    <table>
      <tr>
        <th>Nationality:</th>
        <td>The Netherlands</td>
      </tr>
    </table>
  </div>

  <div class="column3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal"
            (click)="onEditButtonClick()">Edit Profile
    </button>

    <app-edit-profile *ngIf="editProfileIsClicked"></app-edit-profile>

  </div>


  <div class="column4">
    <p> </p>
  </div>
</div>
