
table, td, th {
  border-collapse: collapse;
  text-align: left;
}

table {
  width: 100%;
}

th, td {
  padding: 15px;
}

td {
  width: 60%
}

h2 {
  color: #97CB3B;
}

.name-edit-button:hover {
  color: black;
}


