/* You can add global styles to this file, and also import other style files */
html {
  max-height: 100vh;
}

i.btn {
  cursor: pointer;
}

.btn.btn-primary:hover:enabled {
  font-weight: 500;
  background: #89bd3c !important;
}

body.bg {
  /*background: white !important;*/
  /*background: linear-gradient(to right, #ebebeb, white);*/
  /*background: linear-gradient(to right, #00b09b, #96c93d);*/
  /*background: linear-gradient(to right, #76b852, #8dc26f); */
  background: linear-gradient(to right, #56ab2f, #92c35d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: linear-gradient(to right, #f79d00, #64f38c); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
}

body{
  font-family: Poppins,sans-serif !important;
}

.btn-primary {
  background: #97CB3B !important;
  border-color: #97CB3B !important;
}

