/* You can add global styles to this file, and also import other style files */
<<<<<<< HEAD
html{
	min-height: 100vh;
=======
html {
  max-height: 100vh;
>>>>>>> master
}

i.btn {
  cursor: pointer;
}

.btn.btn-primary:hover:enabled {
  /*font-weight: 500;*/
  background: #89bd3c !important;
}

body.bg {
  /*background: white !important;*/
  background: linear-gradient(to right, #ebebeb, white);
}

.btn-primary {
  background: #97CB3B !important;
  border-color: #97CB3B !important;
}

.page-container {
	min-height: calc(100vh - 70px);
}