<div class="row">
	<div class="card col-md-12">
		<div class="card-body">
			<h5 class="card-title">Detail</h5>
			<hr>
			<form #editForm="ngForm" (ngSubmit)="editForm.form.valid && onSubmit()" class="detailForm">
				<span class="column">
					<label class="mb-0 mt-2" for="firstname">Firstname</label>
					<input type="text" class="form-control"
						[ngClass]="{ 'is-invalid': firstname.invalid }" #firstname="ngModel" ngModel name="firstname">
				</span>
				<span class="column">
					<label class="mb-0 mt-2" for="surname">Surname</label>
					<input type="text" class="form-control"
						[ngClass]="{ 'is-invalid': surname.invalid }" #surname="ngModel" ngModel name="surname">
				</span>
				<span class="column">
					<label class="mb-0 mt-2" for="mail">Mail</label>
					<input type="email" class="form-control"
						[ngClass]="{ 'is-invalid': mail.invalid }" #mail="ngModel" ngModel name="mail" email>
				</span>
				<span class="column">
					<label class="mb-0 mt-2" for="password">Password</label>
					<input type="password" class="form-control"
						[ngClass]="{ 'is-invalid': password.invalid }" #password="ngModel" ngModel name="password" password>
				</span>
				<span class="column">
					<label class="mb-0 mt-2" for="isAdmin">Administrator</label>
					<input type="checkbox" class="form-control" name="isAdmin" ngModel>
				</span>
				<span class="column">
					<label class="mb-0 mt-2" for="organisation">Organisation</label>
					<select name="organisation" class="form-control" #organisation="ngModel" ngModel [ngClass]="{ 'is-invalid': organisation.invalid }">
						<!-- <option *ngFor="let status of events" [value]="status">{{status}}</option> -->
					</select>
				</span>
				<div class="w-100 mt-2">
					<div class="btn-group ml-auto float-right">
						<button class="btn btn-danger" (click)="sendActionToOverview('delete')">Delete</button>
						<button class="btn btn-primary" type="submit">Save</button>
					</div>

					<!-- <div class="btn-group ml-auto" style="float: right">
							<button class="btn btn-danger" (click)="sendActionToOverview('clear')">Clear</button>
							<button class="btn btn-secondary" (click)="sendActionToOverview('cancel')">Cancel</button>
							<button class="btn btn-danger" [disabled]="!isFormChanged()" (click)="sendActionToOverview('reset')">Reset</button>
						</div> -->
				</div>
			</form>
		</div>
	</div>
</div>