<div class="container">
  <div class="row">

    <div class="col-6 table-responsive">
      <table class="table-md table-bordered" id="table">
        <div class="title">
          <h4 id="title"> My uploads </h4>
        </div>
        <tr>
          <th class="tableHeader">Title  </th>
          <th class="tableHeader">Publicity </th>
          <th class="tableHeader">Actions </th>
        </tr>
        <tr *ngFor="let dataset of datasets;">
          <td class="overviewTableTd" id="datasetTitle"> {{dataset.title}} </td>
          <td class="overviewTableTd"> {{dataset.publicity}} </td>
          <td class="overviewTableTd">
            <button class="actionBtn"><i class="fa fa-trash"></i> Delete</button>
            <button class="actionBtn"><i class="fa fa-edit"></i> Edit</button>
          </td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-defaul" id="upload-button"> Upload</button>
    </div>
  </div>
</div>
