<app-edit-metadata-popup *ngIf="editMetaDataToggle" (closingToggle)="onCloseReq()"
                         (savedDataset)="saveRequest($event)"></app-edit-metadata-popup> <!-- Open the Edit pop-up when an edit button is clicked -->
<app-upload-pop-up *ngIf="uploadDatasetToggle"
                   (closingToggle)="onCloseReq()"></app-upload-pop-up> <!-- Open the upload pop-up when the upload button is clicked -->
<app-edit-dataset-popup *ngIf="editDatasetToggle" (closingToggle)="onCloseReq()"></app-edit-dataset-popup>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card" id="list">
        <div class="card-header">
          My uploaded datasets
        </div>
        <ul class="dataList list-group list-group-flush">
          <li class="list-group-item p-1" *ngIf="datasets.length == 0">
            <span class="row mx-1 align-middle">
            You don't have any uploaded datasets
            </span>
          </li>
          <li class="list-group-item p-1" *ngFor="let item of datasets; index as i">

            <span class="row mx-1 align-middle">
          <!-- Check if the logged in user has any uploaded datasets, if not show a message -->

              <!-- show this block if the user doesn't have any uploaded datasets -->


              <!-- show this block if the user does have uploaded datasets -->
                    <p class="col-lg-8">{{item.name}}</p>
					          <span class="btn-group col-lg-4 h-75">
                      <button class="btn btn-info fa fa-eye" data-toggle="modal" data-target="#editDatasetModal"
                              (click)="onViewDatasetClick(i)"></button>
                      <button class="btn btn-primary fa fa-edit" aria-hidden="true" data-toggle="modal"
                              data-target="#editMetaModal" (click)="onEditMetaDataClick(i)"></button>
						          <button class="btn btn-danger fa fa-trash mr-1" aria-hidden="true" (click)="onDelete(i)"></button>
					          </span>
				</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-5">
      <button type="button" id="uploadButton" class="btn btn-primary float-right" data-toggle="modal"
              data-target="#uploadModal" (click)="onUploadButtonClick()">Upload dataset
      </button>
    </div>

    <div class="col-md-3 col-sm-12 mt-5 ">
      <button type="button" id="addDataset" class="btn btn-primary float-right"
              (click)="onAdd()">Add dataset
      </button>
    </div>
  </div>
</div>
