<!--<nav class="navbar navbar-light bg-light">-->
<!--<a class="navbar-brand" href="#">-->
<!--    <img src="assets/images/UA_logo.png" alt="Urban Analytics">-->
<!--</a>-->
<!--  <form class="form-inline justify-content-end">-->
<!--    <button routerLink="/myuploads" class="btn btn-outline-success btn-lg" type="button">My uploads</button>-->
<!--    <button class="btn btn-outline-success btn-lg" type="button">Profile</button>-->
<!--    <button routerLink="/login" class="btn btn-outline-success btn-lg" type="button">Login</button>-->
<!--    <button routerLink="/admin" class="btn btn-outline-success btn-lg" type="button">Admin</button>-->
<!--  </form>-->
<!--</nav>-->

<nav class="navbar navbar-expand-lg sticky-top mb-4">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/homepage">
        <img src="assets/images/UA_logo.png" alt="Urban Analytics" style="width: 120px; height: 40px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="w-100">
        <div class="collapse navbar-collapse mx-auto" id="navbarNav">
            <ul class="navbar-nav nav w-100">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/homepage">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/myuploads">My Uploads</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/profile">Profile</a>
                </li>
            </ul>
            <ul class="nav justify-content-end w-100">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/login">Log In</a>
                </li>
            </ul>
        </div>
    </div>
</nav>