<!--<nav class="navbar navbar-light bg-light">-->
<!--<a class="navbar-brand" href="#">-->
<!--    <img src="assets/images/UA_logo.png" alt="Urban Analytics">-->
<!--</a>-->
<!--  <form class="form-inline justify-content-end">-->
<!--    <button routerLink="/myuploads" class="btn btn-outline-success btn-lg" type="button">My uploads</button>-->
<!--    <button class="btn btn-outline-success btn-lg" type="button">Profile</button>-->
<!--    <button routerLink="/login" class="btn btn-outline-success btn-lg" type="button">Login</button>-->
<!--    <button routerLink="/admin" class="btn btn-outline-success btn-lg" type="button">Admin</button>-->
<!--  </form>-->
<!--</nav>-->

<nav class="navbar navbar-light navbar-expand-lg sticky-top mb-4">
	<a class="navbar-brand" routerLink="/homepage">
		<img src="assets/images/UA_logo.png" alt="Urban Analytics" style="width: 120px; height: 40px">
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="w-100">
		<div class="collapse navbar-collapse mx-auto" id="navbarNav">
			<ul class="navbar-nav nav w-100">
				<li class="nav-item">
					<a class="nav-link" routerLinkActive="active" routerLink="/homepage">Home</a>
				</li>
				<li class="nav-item" *ngIf="this.sessionService.displayName">
					<a class="nav-link" routerLinkActive="active"
             [routerLink]="['/myuploads', this.sessionService.displayName]">My Uploads</a>
				</li>
				<li class="nav-item" *ngIf="this.sessionService.displayName">
					<a class="nav-link" routerLinkActive="active" [routerLink]="['/profile', this.sessionService.displayName]">Profile</a>
				</li>
			</ul>
			<ul class="nav justify-content-end w-100">
				<li class="nav-item" *ngIf="this.sessionService.isAdmin">
					<a class="nav-link" routerLinkActive="active" routerLink="/admin">Admin</a>
				</li>
				<li class="nav-item" *ngIf="!this.sessionService.displayName">
					<a class="right-nav-button" routerLinkActive="active" routerLink="/firebase-login">Log
						In</a>
				</li>
				<li class="nav-item" *ngIf="this.sessionService.displayName">
					<!--<a (click)="sessionService.signOff()" class="nav-link" routerLinkActive="active"
						routerLink="/login">Log
						Out</a>-->
          <a (click)="sessionService.signOff()" class="nav-link border-1" routerLinkActive="active"
             routerLink="/firebase-login">Log
            Out</a>
				</li>
				<li class="nav-item" *ngIf="this.sessionService.displayName">
					<span class="navbar-text">(User: {{ this.sessionService.displayName }})</span>
				</li>
			</ul>
		</div>
	</div>
</nav>
