.navbar button {
  margin-left: 10px;
  margin-top: 5px;
  border-radius: inherit;
  padding: 35px;
}

.navbar-brand img {
  height: 80px;
  width: 200px;
}

nav.navbar {
	background-color: #ebebeb;
	border-bottom: 4px solid #009ae4;
}

.active {
	border-bottom: 3px solid #009ae4;
    font-weight: 500;
    color: #4c7bfc;
}
