.navbar button {
  margin-left: 10px;
  margin-top: 5px;
  border-radius: inherit;
  padding: 35px;
  color: #97CB3B;
}

.nav-link {
  color: #97CB3B !important;
}

.navbar-brand img {
  height: 80px;
  width: 200px;
}

nav.navbar {
  background-color: white;
  border-bottom: 4px solid #97CB3B;
}

.active {
  border-bottom: 3px solid #97CB3B;
  font-weight: 500;
  color: #83b63b;
}

ul.navbar-nav.nav li.nav-link {
	color: #98c222 !important;
}